header {
    background-color: #96958a;
    text-align: center;
    color: aliceblue;
    padding: 20px;
    display: flex;
    /* deixa o conteudo mais flexivel deixando-os lado a lado*/
    justify-content: center;
    /*justifica o conteudo ao centro*/
    gap: 15px;
    /*DA ESPAÇO ENTRE OS ITENS*/
    align-items: center;
    /*ALINHA OS ITENS AO CENTRO*/
}

header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header img {
    width: 60px;
}

body {
    background-color: #dbddb4;
}


.imagem {
    text-align: center;
    display: flex;
    /* deixa o conteudo mais flexivel deixando-os lado a lado*/
    justify-items: center;
    /*justifica o conteudo ao centro*/
    gap: 15px;
    /*DA ESPAÇO ENTRE OS ITENS*/
    align-items: center;
    /*ALINHA OS ITENS AO CENTRO*/
}

.imagem img {
    width: 500px;
}

.paragrafo-um {
    font-size: large;
    color: black;
    text-align: center;
}

.paragrafo-dois {
    font-size: large;
    color: black;
    text-align: center;
}

.paragrafo-tres {
    font-size: large;
    color: black;
    text-align: center;
}

.emoticons {
    text-align: center;
    font-size: large;
    font-size: 130px;
}

.botao {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 250px;
    background-size: cover;
    /*preenchimento de imagem*/
    display: flex;
    justify-content: center;
    background-position: center;
    /*centralização da imagem*/
    background-color: #96958a;
    background-image: url(imagens/bebendo\ café.jpg)
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(128, 128, 128, 0.171);
    padding: 20px;
    font-size: medium;
    color: aliceblue;
    border-radius: 10px;
    /*arredonda o botão*/
}

footer {
    text-align: center;
    background-color: #76877d;
    padding: 50px;
}

footer i{
    font-size: 25px;
    color: black;
    flex-direction: column;
}
.localizacao {
    text-align: center;
}