@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


/* estilizando o header */

header{
    padding: 25px;
    background-color: #2c2b26;
    color: aliceblue;
    display: flex; /*tornando os itens lado a lado*/
    justify-content: center; /*justifica o conteudo ao centro*/
    gap: 40px; /*espaço entre os elementos*/
    align-items: center; /*responsavel por alinhar verticalmente os itens*/
}

header img {
font-size: 60px; /* tamanho do icone */
color: aliceblue;
/* cor do icone */
width: 70px; /*tamanho da imagem*/
}

header h1{
    color: aliceblue; /*cor da letra*/
    font-family: "Libre Baskerville", serif; /*fonte da letra*/
}

    body{
        background-color: #738c79;
    }

/* FIM DO CABEÇALHO E INICIO DA PROXIMA SESSAO */

.sessao01 {
    padding: 160px; /*preenchimento/tamanho*/
    background-color: #738c79; /*cor de fundo*/
    display: flex; /*torna os iten lado a lado*/
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.sessao01 span{
    color: darkgreen;
    font-size: 40px;
}

.sessao01 img {
    width: 800px;
    height: 600px;
}


.sessao01 p{
color: aliceblue; 
font-size: 25px;
font-family:  "Libre Baskerville", serif
};


/* FIM DA PRIMEIRA SESSAO E INICIO DA PROXIMA SESSAO */


.sessao02 {
    background-color: #2c2b26;
    padding: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.sessao02 i{
    font-size: 50px;
    color: #2c2b26;
}


.sessao02 p{ 
    color: aliceblue; /*cor da letra*/
    font-size: 30px; /* tamanho do icone */
    font-family:  "Libre Baskerville", serif; /*fonte da letra*/
}

/* FIM DA SEGUNDA SESSAO E INICIO DA PROXIMA SESSAO */


.sessao03{
    padding: 200px;
    background-image: url(imagens07/Imagem\ Botão.jpg); /*uploading de imagem*/
    background-position: center; /*posição da imagem*/
    background-size: cover; /*preenchimento da imagem*/
    background-repeat: no-repeat; /*desabilitando a repetição da imagem*/
    background-attachment: fixed; /*mantem a imagem fixa de fundo*/
    display: flex;
    justify-content: center;
    align-items: center;
}


.sessao03 button{
    padding: 8px;
    width: 150px;
    background-color: #ecbe13;
}
